// Alternative colors: orange
// -------------------------
@color-1: #e67e22;
@color-2: #FF993F;
@color-3: #F7F7F7;
@color-4: #F5F5F5;
@color-5: #2B1603;	
@color-6: @color-2;
@color-7: #2B1603;
@brand-primary: #C2630E; 