---
layout: 
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Conube | Sua Empresa com Holerite Online</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="all" />
	<meta name="description" content="Conube | Sua Empresa com Holerite Online">
	<meta property="og:title" content="Conube | Sua Empresa com Holerite Online"/>
	<meta property="og:url" content="http://conube.com.br/"/>
	<meta property="og:image" content="http://conube.com.br/img/facebook.jpg"/>
	<meta property="og:site_name" content="Conube"/>
	<meta property="og:description" content="Conube é o melhor sistema de contabilidade online."/>
	
	<link rel="canonical" href="http://conube.com.br/" />
	<link rel="author" href="https://github.com/conube"/>
	<link rel="shortcut icon" href="/img/favicon.ico">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:300,400,700">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" media="screen" id="css-file" href="/css/holerite.css">
	<link rel="shortcut icon" href="/img/favicon.ico">

	<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
	<meta http-equiv=X-UA-Compatible content=IE=edge>
</head>

<!-- activate scrollspy -->

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Mudar navegação</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#">
					<img src="/img/logo.png" alt="Conube" />
				</a>
			</div>
			<div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a title="Home page" class="scroll brand-1" href="#home">Home</a></li>
					<li><a title="Serviços que vão ajudar você" href="#funcionalidades" class=" scroll brand-4">Funcionalidades</a></li>
					<li><a title="Serviços que vão ajudar você" href="#clients" class=" scroll brand-3">Clientes</a></li>
					<li><a title="Entre em contato!" href="#contact" class="scroll brand-2">Contato</a></li>
					<li><a title="Sua contabilidade 2.0" href="/">Contabilidade</a></li>
                    <li><a title="Meu holerite online" href="http://hol.conube.com.br/login">Login</a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-container -->
	</nav>

	<!-- Home Page -->
	<div id="home" class="page color-1">
		<div class="inner-page">
			<h1 class="page-headline large">Sua Empresa com Holerite Online</h1>
			<h3 class="page-headline">O melhor Holerite Online para sua empresa</h1>
		</div>
		<div class="row inner-page">
			<div class="col-md-8 col-md-push-4 lazy-container">
				<img class="lazy" alt="Fica ótimo em qualquer aparelho." src="/img/pixel.png" data-original="/img/home.png" />
			</div>
			<div class="col-md-4 col-md-pull-8">
				<ul class="big-list">
					<li><i class="fa fa-arrow-down"></i>&nbsp;Custos reduzidos</li>
					<li><i class="fa fa-thumbs-o-up"></i>&nbsp;Mais tempo livre</li>
					<li><i class="fa fa-shield"></i>&nbsp;Mais segurança</li>
					<li><i class="fa fa-cloud"></i>&nbsp;Simples e fácil</li>
				</ul>
				<br />
				<a href="#funcionalidades" title="Veja mais funcionalidades!" class="scroll btn btn-primary btn-centered">
					<i class="fa fa-caret-down"></i>&nbsp;Saiba mais</a>
			</div>
		</div>
	</div>
	<!-- /#home -->

	<!-- Sign up -->
	<div class="sign-up color-2 visible-lg">
		<div class="row inner-page">
			<div class="col-md-12">
				<h4 class="pull-left">Gastando muito tempo e dinheiro?</h4>
				<a href="#funcionalidades" class="scroll btn btn-primary pull-right" title="Check out more freatures!">
					<i class="fa fa-caret-down"></i>&nbsp;Saiba mais</a>
			</div>
		</div>
	</div>
	<!-- /.sign-up -->

	<!-- Feature page-->
	<div id="funcionalidades" class="page color-4">
		<div class="inner-page">
			<h2 class="page-headline">Por que usar o Holerite Online?</h2>
		</div>

		<div class="inner-page row">
			<ul class="funcionalidades list-inline">
				<li>
					<h3>
						<i class="fa fa-arrow-down"></i>&nbsp;Reduza Custos</h3>
					<p>Imprimir holerite nunca mais, envelopar holerites nunca mais! Reduza seus custos já!</p>
					<p>Diminua o arquivamento de documentos físicos agora mesmo.</p>
					<a href="#contact" class="scroll btn btn-primary btn-centered">Saiba como</a>
				</li>
				<li>
					<h3>
						<i class="fa fa-thumbs-o-up"></i>&nbsp;Simplicidade</h3>
					<p>Os funcionários acessam seus holerites pelo celular, tablet ou computador.</p>
					<p>Dispensa a assinatura do funcionário no holerite.</p>
					<a href="#contact" class="scroll btn btn-primary btn-centered">Seja simples</a>
				</li>
				<li>
					<h3>
						<i class="fa fa-shield"></i>&nbsp;Segurança</h3>
					<p>Mais segurança para seus funcionários, sem intermediários na entrega dos holerites.</p>
					<p>Dados armazenados por 5 anos, em 3 data centers diferentes no mundo.</p>
					<a href="#contact" class="scroll btn btn-primary btn-centered">Mais segurança</a>
				</li>
			</ul>
		</div>

		<hr>

		<div class="row inner-page">
			<div class="col-md-6 lazy-container">
				<img class="figurette lazy" alt="Funciona em qualquer lugar" src="/img/pixel.png" data-original="/img/responsive-vectors.png" />
			</div>
			<div class="col-md-6">
				<h3>Empresa Sustentável usa Holerite Online</h3>
				<p class="lead">Seus funcionários podem acessar quando e onde precisarem </p>
				<ul class="list-wide">
					<li>
						<i class="fa fa-check"></i>&nbsp;Acesso pelo Celular, Tablet ou Computador</li>
					<li>
						<i class="fa fa-check"></i>&nbsp;Acompanhe a evolução salarial</li>
					<li>
						<i class="fa fa-check"></i>&nbsp;Dados seguros por até 5 anos</li>
					<li>
						<i class="fa fa-check"></i>&nbsp;Reduza os custos com papel e tempo</li>
				</ul>
			</div>
		</div>

	</div>

	<!-- Clients page -->
	<div id="clients" class="page color-3">
		<div class="inner-page">
			<h2 class="page-headline">Quem já está usando?</h2>
		</div>
		<div class="inner-page row">
			<ul class="clients list-inline">
				<li><img src="/img/clients/logo-fepin.png" title="FEPIN Contabilidade" /></li>
				<li><img src="/img/clients/logo-sapore-beneficios.jpg" title="Sapore Benefícios" /></li>
				<li><img src="/img/clients/logo-northempreendimentos.jpg" title="Grupo North Empreendimentos" /></li>
				<li><img src="/img/clients/logo-containit.jpg" title="contain[it]" /></li>
				<li><img src="/img/clients/logo-taginvestimentos.jpg" title="TAG Investimentos" /></li>
				<li><img src="/img/clients/logo-idv.jpg" title="Instituto para Desenvolvimento do Varejo" /></li>
				<li><img src="/img/clients/logo-onyx.png" title="Onyx Equity Management" /></li>
				<li><img src="/img/clients/logo-districomesticos.jpg" title="DistriCosméticos" /></li>
				<li><img src="/img/clients/logo-frutaqui.jpg" title="Frutaqui" /></li>
				<li><img src="/img/clients/logo-artoptions.jpg" title="Art Options" /></li>
				<li><img src="/img/clients/logo-mosaicocapital.jpg" title="Mosaico Capital" /></li>
				<li><img src="/img/clients/logo-bianchi-industry.jpg" title="Bianchi Vending Group" /></li>
				<li><img src="/img/clients/logo-brdeal.jpg" title="BR Deal" /></li>
				<li><img src="/img/clients/logo-meucosmetico.jpg" title="Meu Cosmético" /></li>
				<li><img src="/img/clients/logo-fariaseg.jpg" title="FariaSeg" /></li>
				<li><img src="/img/clients/logo-suaempresa.png" title="Seja nosso cliente, traga Sua empresa!" /></li>
			</ul>
		</div>

		<hr>
		
		<div class="row inner-page">
			<div class="col-md-offset-1 col-md-10">
				<div class="lazy-container lazy-large btn-container loaded">
					<div class="btn-container">
						<img src="/img/laptop-blue@2x.png" style="display: inline;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#assets -->
	
	<!-- Newsletter -->
	{% include newsletter.html %}
	<!-- /newsletter -->
	
	<!-- Contact page -->
	<div id="contact" class="page color-2">
		<div class="inner-page">
			<h2 class="page-headline">Fale com um de nossos Contadores 2.0</h2>
		</div>
		<div class="row inner-page contact">
			<div class="col-md-6">
				<h3>Quer uma proposta?</h3>
				<form id="contact-form">
					<input type="text" class="form-control" placeholder="Quantidade de funcionários?">
					<input type="text" class="form-control" placeholder="Qual nome do Sistema de folha?">
					<input type="text" class="form-control" placeholder="Seu@Email.com.br">
					<input type="text" class="form-control" placeholder="Seu telefone" data-mask="(99) 9999-9999?9">
					<input type="text" class="form-control" placeholder="Seu nome">
					<button class="btn btn-primary btn-centered">Solicitar proposta</button>
				</form>
			</div>
			<div class="col-md-6">
				<h3>Precisando de suporte?</h3>
				<form id="contact-form">
					<textarea rows="4" class="form-control" placeholder="Qual problema você está enfrentando?"></textarea>
					<input type="text" class="form-control" placeholder="Seu@Email.com.br">
					<input type="text" class="form-control" placeholder="Seu telefone" data-mask="(99) 9999-9999?9">
					<input type="text" class="form-control" placeholder="Seu nome">
					<button class="btn btn-primary btn-centered">Solicitar suporte</button>
				</form>
			</div>
		</div>
	</div>
	<!-- /#contact -->
	
	<!-- The footer, social media icons, and copyright -->
	{% include footer.html %}
	<!-- /footer -->
	
	<!-- Scripts -->
	{% include scripts.html %}
	<!-- /scripts -->
</body>

</html>