---
layout: 
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Contabilidade Online | Conube</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta name="robots" content="all" />
	<meta name="description" content="Contabilidade Online para micro e pequenas empresas com baixo custo e suporte de contadores experientes. Experimente Agora!">
	<meta property="og:title" content="Conube | Contabilidade Online feita para Você"/>
	<meta property="og:url" content="http://conube.com.br/"/>
	<meta property="og:image" content="http://conube.com.br/img/facebook.jpg"/>
	<meta property="og:site_name" content="Conube"/>
	<meta property="og:description" content="Contabilidade Online para micro e pequenas empresas com baixo custo e suporte de contadores experientes. Experimente Agora!"/>
	
	<link rel="canonical" href="http://conube.com.br/" />
	<link rel="author" href="https://github.com/conube"/>
	<link rel="shortcut icon" href="img/favicon.ico">

	<link rel="stylesheet" media="screen" id="css-file" href="css/main.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open%20Sans:300,400,700.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
</head>

<!-- activate scrollspy -->

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Mudar navegação</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#">
					<img src="img/conube-contabilidade-online.png" alt="Conube - Contabilidade Online" />
				</a>
			</div>
			<div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a title="Home page" class="scroll brand-1" href="#home">Home</a></li>
					<li><a title="Serviços que vão ajudar você" href="#funcionalidades" class=" scroll brand-4">Funcionalidades</a></li>
					<li><a title="Entre em contato!" href="#contact" class="scroll brand-2">Contato</a></li>
					<li><a title="Nosso holerite online" href="/holerite-online">Holerite</a></li>
                    <li class="hidden-sm hidden-xs"><a title="Meu holerite online" href="http://hol.conube.com.br/login">Login</a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-container -->
	</nav>

	<!-- Home Page -->
	<header id="home" class="page color-1">
		<div class="inner-page"> 
			<h1 class="page-headline large">Sua Contabilidade Online</h1>
			<h2 class="page-headline">Contabilidade Online para micro e pequenas empresas</h2>
		</div>
		<div class="row inner-page">
			<div class="col-md-8 col-md-push-4 lazy-container">
				<img class="lazy" alt="Sistema de contabilidade que funciona em qualquer aparelho." src="img/pixel.png" data-original="img/sistema-contabilidade-online.png" />
			</div>
			<div class="col-md-4 col-md-pull-8">
				<ul class="big-list">
					<li><i class="fa fa-thumbs-o-up"></i>Simplicidade</li>
					<li><i class="fa fa-shield"></i>Segurança</li>
					<li><i class="fa fa-cloud"></i>Disponibilidade</li>
					<li><i class="fa fa-eye"></i>Controle</li>
				</ul>
				<br />
				<a href="http://app.conube.com.br/account/register" title="Experimente agora!" class="scroll btn btn-primary btn-centered"><b>Experimente agora!</b></a>
			</div>
		</div>
	</header>
	<!-- /#home -->

	<!-- Sign up -->
	<div class="sign-up color-2 visible-lg">
		<div class="row inner-page">
			<div class="col-md-12">
				<h4 class="pull-left">Problemas com sua contabilidade? Multas e atrasos?</h4>
				<a href="http://app.conube.com.br/account/register" class="scroll btn btn-primary pull-right" title="Experimente agora!"><b>Experimente agora</b></a>
			</div>
		</div>
	</div>
	<!-- /.sign-up -->

	<!-- Feature page-->
	<article id="funcionalidades" class="page color-4">
		<div class="inner-page">
			<h2 class="page-headline">Por que usar o Conube?</h2>
		</div>

		<div class="inner-page row">
			<ul class="funcionalidades list-inline">
				<li>
					<h3><i class="fa fa-eye"></i>&nbsp;Controle</h3>
					<p>Acompanhe tudo o que acontece na contabilidade de sua empresa com total acessibilidade, através da internet de casa ou do celular.</p>
				</li>
				<li>
					<h3><i class="fa fa-thumbs-o-up"></i>&nbsp;Simplicidade</h3>
					<p>Com dinamismo e praticidade, o sistema faz todo o trabalho duro por você. Controle tudo de forma simples e interativa.</p>
				</li>
				<li>
					<h3><i class="fa fa-wrench"></i>&nbsp;Serviços</h3>
	 				<p>Emissão de notas fiscais, calendário de pagamento de impostos, tudo com o suporte de contadores experientes.</p>
				</li>
				<li>
					<h3><i class="fa fa-arrow-down"></i>&nbsp;Baixo Custo</h3>
	 				<p>Sua empresa pode ter acesso a todas essas facilidades por um preço acessível, com uma grande relação custo-benefício. Faça uma consulta.</p>
				</li>
			</ul>
		</div>
		
		<div class="inner-page row">
			<div class="col-xs-6">
				<a href="#contact" class="scroll btn btn-primary btn-centered">Quer transferir sua empresa?</a>
			</div>
			<div class="col-xs-6">
				<a href="#contact" class="scroll btn btn-primary btn-centered">Quer abrir sua empresa?</a>
			</div>
		</div>
				
		<div class="row inner-page">
			<div class="col-md-6 lazy-container">
				<img class="figurette lazy" alt="Controle sua contabilidade de qualquer lugar" src="img/pixel.png" data-original="img/controle-sua-contabilidade-onde-precisar.png" />
			</div>
			<div class="col-md-6">
				<h3>Sua Contabilidade 2.0</h3>
				<ul class="list-wide">
					<li><i class="fa fa-check"></i>&nbsp;Acesse pelo computador, tablet ou celular</li>
					<li><i class="fa fa-check"></i>&nbsp;Controle tudo de forma simples e interativa</li>
					<li><i class="fa fa-check"></i>&nbsp;Emissão de notas fiscais</li>
					<li><i class="fa fa-check"></i>&nbsp;Calendário para pagamento de tributos</li>
					<li><i class="fa fa-check"></i>&nbsp;Documentos digitalizados</li>
					<li><i class="fa fa-check"></i>&nbsp;Suporte de contadores experientes</li>
					<li><i class="fa fa-check"></i>&nbsp;Tudo por um preço que cabe no seu orçamento</li>
				</ul>
			</div>
		</div>
	</article>

	<!-- Newsletter -->
	{% include newsletter.html %}
	<!-- /newsletter -->

	<!-- Contact page -->
	<div id="contact" class="page color-2">
		<div class="inner-page">
			<h3 class="page-headline">Fale com um de nossos Contadores</h3>
		</div>
		<div class="row inner-page contact">
			<div class="col-md-6">
				<h3>Quer transferir sua empresa?</h3>
				<form id="transferir-form" method="post">
					<input type="hidden" id="tassunto" value="Transferir empresa" />
					<input type="text" id='ttelefone' class="form-control" placeholder="Seu telefone" data-mask="(99) 9999-9999?9" required>
					<input type="email" id='temail' class="form-control" placeholder="Seu@Email.com.br" required>
					<input type="text" id='tnome' class="form-control" placeholder="Seu nome completo" required pattern=".{3,}">
					<button type="submit"  class="btn btn-primary btn-centered">Transferir empresa</button>
				</form>
			</div>
			<div class="col-md-6">
				<h3>Quer abrir sua empresa?</h3>
				<form id="abrir-form" method="post">
					<input type="hidden" id="aassunto" value="Abrir empresa" />
					<input type="text" id='atelefone' class="form-control" placeholder="Seu telefone" data-mask="(99) 9999-9999?9" required>					
					<input type="email" id='aemail' class="form-control" placeholder="Seu@Email.com.br" required>
					<input type="text" id='anome' class="form-control" placeholder="Seu nome completo" required pattern=".{3,}">
					<button type="submit" class="btn btn-primary btn-centered">Abrir empresa</button>
				</form>
			</div>
		</div>
	</div>
	<!-- /#contact -->
	
	<!-- The footer, social media icons, and copyright -->
	{% include footer.html %}
	<!-- /footer -->
	
	<!-- Scripts -->
	{% include scripts.html %}
	<!-- /scripts -->
</body>
</html>