<div class="newsletter color-1">
	<div class="inner-page row">
		<div class="col-md-5">
			<h4><b>Seja legal</b>, inscreva-se e fique sabendo das novidades</h4>
		</div>
		<form action="http://conube.us3.list-manage.com/subscribe/post?u=fc49f9d35b86cb24029ed29ea&amp;id=bff119875e" method="post" class="validate" target="_blank" novalidate>
		<div class="col-md-5">
			<input type="email" placeholder="Seu@Email.com.br" name="EMAIL" class="subscribe" required>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary pull-right btn-block">Inscrever-se</button>
		</div>
		</form>
	</div>
</div>	