<script>	

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-39975045-1']);
	_gaq.push(['_trackPageview']);

	head.load("https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", 
			  "https://stats.g.doubleclick.net/dc.js",
			   "/js/bundle.min.js",
			   "/js/main.min.js");
	head.ready(function () {
					if (typeof jQuery == 'undefined') {
						head.load("/js/jquery-1.9.1.min.js");
					}
			   });
</script>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open Sans:300,400,700.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">